/** Add any CSS you need to this file. */

/* Google Web font */
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

html,
body {
  margin: 0 auto;
  height: 100%;
  max-height: 100%;
}
a {
  text-decoration: none;
  color: black;
}
header {
  height: 200px;
  background-color: white;
}
.container {
  width: 1200px;
  margin: 0 auto;
  background: white;
}
.quick {
  display: flex;
  flex-direction: row;
}
.quick-left {
  flex: 1;
}
.quick-left a {
  padding: 10px 10px 10px 10px;
  display: inline-block;
}
.quick-left a img {
  width: 40px;
  height: 40px;
}
.quick-right {
  flex: 1;
  text-align: right;
}
.quick-right a {
  font-family: 'PT Serif', serif;
  padding: 10px 10px 10px 10px;
  display: inline-block;
}
.quick-right a:hover,
.quick-right a:focus {
  text-shadow: 0 0 0.01px black;
  background-color: whitesmoke;
}
.title {
  text-align: center;
  padding: 15px;
}
.title a img {
  width: 40px;
  height: 40px;
}
.title h1 {
  font-family: 'PT Serif', serif;
  font-size: 50px;
  color: black;
  display: inline;
}
nav ul li {
  list-style-type: none;
  overflow: hidden;
  display: inline-block;
  width: 10%;
  font-family: 'PT Serif', serif;
  font-size: 17px;
  text-align: center;
  color: black;
  padding-top: 3px;
  padding-bottom: 3px;
}
li:hover,
li:focus {
  text-shadow: 0 0 0.01px black;
  background-color: whitesmoke;
}
#main-top {
  background: url('images/main.jpg') no-repeat top;
  height: 500px;
}
#main-top h2 {
  margin: 0;
  padding-left: 40px;
  padding-top: 50px;
  font-family: 'Libre Caslon Display', serif;
  font-weight: lighter;
  font-style: italic;
  font-size: 27px;
  color: #ffffff;
}
#main-top img {
  padding-left: 40px;
  padding-top: 10px;
  height: 40px;
  width: 100px;
}
h3 {
  padding-left: 20px;
  padding-top: 20px;
  font-family: 'PT Serif', serif;
  font-weight: bold;
  font-size: 25px;
  line-height: 12px;
}
#arrow1,
#arrow2,
#arrow3,
#arrow4 {
  padding-left: 10px;
  width: 25px;
  height: 18px;
}
#arrow1:hover,
#arrow2:hover,
#arrow3:hover,
#arrow4:hover,
#arrow1:focus,
#arrow2:focus,
#arrow3:focus,
#arrow4:focus {
  padding-left: 12px;
}
#menu-new,
#menu-bestsellers,
#menu-fiction,
#menu-nonfiction {
  display: flex;
  flex-direction: row;
}
#new1,
#new2,
#new3,
#bestsellers1,
#bestsellers2,
#bestsellers3,
#fiction1,
#fiction2,
#fiction3,
#nonfiction1,
#nonfiction2,
#nonfiction3 {
  flex: 1;
  text-align: center;
  align-content: center;
  border-style: solid;
  border-width: 2px;
  border-color: whitesmoke;
  margin: 5px;
  padding: 10px;
}
#main-fiction {
  display: flex;
  flex-direction: row;
}
#main-nonfiction {
  display: flex;
  flex-direction: row;
}

.bookImage {
  width: 200px;
  height: 270px;
  margin-bottom: 10px;
}
.bookName {
  font-family: 'PT Serif', serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 40px;
}
.bookBy {
  font-family: 'PT Serif', serif;
  font-size: 13px;
  line-height: 20px;
}
.bookCategory {
  font-family: 'PT Serif', serif;
  font-weight: bold;
  font-size: 13px;
}
.bookPrice {
  font-family: 'PT Serif', serif;
  font-size: 15px;
  line-height: 30px;
}
@media (max-width: 1280px) {
  .container {
    width: 100%;
  }
}
@media (max-width: 1024px) {
}
@media (max-width: 960px) {
  nav ul li {
    width: 15%;
  }
  .quick-left a img {
    width: 30px;
    height: 30px;
  }
  .title a img {
    width: 30px;
    height: 30px;
  }
  .title h1 {
    font-size: 40px;
  }
  .quick-right a {
    font-size: 15;
    padding: 5px 5px 5px 5px;
  }
  #main-top {
    height: 450px;
  }
}
@media (max-width: 768px) {
  header {
    height: 150px;
  }
  #signUp {
    display: none;
  }
  #main-top h2 {
    padding-left: 25px;
    padding-top: 40px;
    font-size: 23px;
  }
  #main-top img {
    padding-left: 30px;
  }
  nav ul li {
    width: 30%;
    font-size: 15px;
  }
  #main-top {
    height: 350px;
  }
  #menu-new,
  #menu-bestsellers,
  #menu-fiction,
  #menu-nonfiction {
    flex-direction: column;
  }

  #new1,
  #new2,
  #new3,
  #bestsellers1,
  #bestsellers2,
  #bestsellers3,
  #fiction1,
  #fiction2,
  #fiction3,
  #nonfiction1,
  #nonfiction2,
  #nonfiction3 {
    margin: 5px 20px 5px 20px;
    padding: 10px;
  }
}
@media (max-width: 600px) {
}
@media (max-width: 480px) {
}
@media (max-width: 320px) {
}
