/** Add any CSS you need to this file. */

/* Google Web font */
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

html,
body {
  margin: 0 auto;
  height: 100%;
  max-height: 100%;
}
a {
  text-decoration: none;
  color: black;
}
header {
  height: 200px;
  background-color: white;
}
.container {
  width: 1200px;
  margin: 0 auto;
  background: white;
}
.quick {
  display: flex;
  flex-direction: row;
}
.quick-left {
  flex: 1;
}
.quick-left a {
  padding: 10px 10px 10px 10px;
  display: inline-block;
}
.quick-left a img {
  width: 40px;
  height: 40px;
}
.quick-right {
  flex: 1;
  text-align: right;
}
.quick-right a {
  font-family: 'PT Serif', serif;
  padding: 10px 10px 10px 10px;
  display: inline-block;
}
.quick-right a:hover,
.quick-right a:focus {
  text-shadow: 0 0 0.01px black;
}
.title {
  text-align: center;
  padding: 15px;
}
.title a img {
  width: 40px;
  height: 40px;
}
.title h1 {
  font-family: 'PT Serif', serif;
  font-size: 50px;
  color: black;
  display: inline;
}
nav ul li {
  list-style-type: none;
  overflow: hidden;
  display: inline-block;
  width: 10%;
  font-family: 'PT Serif', serif;
  font-size: 17px;
  text-align: center;
  color: black;
}
li:hover,
li:focus {
  text-shadow: 0 0 0.01px black;
  background-color: whitesmoke;
}
#main-top {
  background: url('images/main.jpg') no-repeat top;
  height: 500px;
}
#main-top h2 {
  margin: 0;
  padding-left: 40px;
  padding-top: 50px;
  font-family: 'Libre Caslon Display', serif;
  font-weight: 100;
  font-style: italic;
  font-size: 27px;
  color: #ffffff;
}
#main-top img {
  padding-left: 40px;
  padding-top: 10px;
  height: 40px;
  width: 100px;
}
@media (max-width: 1280px) {
  .container {
    width: 100%;
  }
}
@media (max-width: 1024px) {
}
@media (max-width: 960px) {
  nav ul li {
    width: 15%;
  }
  .quick-left a img {
    width: 30px;
    height: 30px;
  }
  .title a img {
    width: 30px;
    height: 30px;
  }
  .title h1 {
    font-size: 40px;
  }
  .quick-right a {
    font-size: 15;
    padding: 5px 5px 5px 5px;
  }
  #main-top {
    height: 450px;
  }
}
@media (max-width: 768px) {
  header {
    height: 150px;
  }
  #signUp {
    display: none;
  }
  #main-top h2 {
    padding-left: 30px;
    padding-top: 40px;
    font-size: 23px;
  }
  #main-top img {
    padding-left: 30px;
    padding-top: 10px;
    height: 35px;
    width: 85px;
  }
  nav ul li {
    width: 30%;
    font-size: 15px;
  }
  #main-top {
    height: 350px;
  }
}
@media (max-width: 600px) {
}
@media (max-width: 480px) {
}
@media (max-width: 320px) {
}
